body {
    margin: 0;
    padding: 0;
}

.start-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffe5e5;
    color: #333;
    font-family: 'Arial', sans-serif;
  }
  
  .start-page img {
    width: 150px;
    margin-bottom: 2rem;
  }
  
  .start-page button {
    width: 220px;
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .start-page button:first-of-type {
    background-color: #c8102e;
    color: #fff;
  }
  
  .start-page button:first-of-type:hover {
    background-color: #a60e25;
  }
  
  .start-page button:last-of-type {
    background-color: #333;
    color: #fff;
  }
  
  .start-page button:last-of-type:hover {
    background-color: #555;
  }
  .button {
    width: 100%;
    max-width: 300px;
    padding: 10px 15px;
    margin: 10px 0;
    font-size: 16px;
    border: 2px solid #ccc; /* Light border for a clean look */
    border-radius: 8px;     /* Rounded corners */
    background-color: #f9f9f9; /* Light background color */
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .button:focus {
    border-color: #500000; /* Maroon color for focus state */
    box-shadow: 0px 0px 8px rgba(80, 0, 0, 0.2); /* Subtle shadow on focus */
  }
  
  .button::placeholder {
    color: #999; /* Placeholder text color */
    opacity: 1;
  }
  
  .button:hover {
    background-color: #f1f1f1; /* Slightly darker on hover */
  }
  
  .cashier-button {
    position: absolute;
    bottom: 20px; /* Position near the bottom */
    left: 250px; /* Position near the left */
    
    background-color: red; /* Red background */
    color: white; /* White text */
    
    border: none; /* No border */
    
    border-radius: 8px; /* Rounded corners */
    
    padding: 10px; /* Padding inside the button */
    
    cursor: pointer; /* Pointer cursor on hover */
  }
  .employee-button {
    position: absolute;
    bottom: 20px; /* Position near the bottom */
    left: 20px; /* Position near the left */
    
    background-color: red; /* Red background */
    color: white; /* White text */
    
    border: none; /* No border */
    
    border-radius: 8px; /* Rounded corners */
    
    padding: 10px; /* Padding inside the button */
    
    cursor: pointer; /* Pointer cursor on hover */
  }
  
  .employee-button:hover {
    opacity: 0.8; /* Slight opacity change on hover */
  }


  /* Auth Buttons */
.auth-buttons {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column; /* Stack items vertically */
  align-items: center; 
}

.auth-button {
  background-color: #500000; /* Maroon */
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.auth-button:hover {
  background-color: #750000; /* Lighter Maroon */
}