  .food-item-btn {
    width: 260px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 2px solid #c8102e;
    color: #333;
    border-radius: 12px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }

  .food-item-btn img {
    width: 300px;
    height: 180px;
    object-fit: cover; 
    margin-bottom: 0.5rem;
    border-radius: 50%; 
  }
  
  .food-item-btn:hover {
    background-color: #c8102e;
    color: #fff;
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .food-item-btn h2 {
    font-size: 1rem;
    margin: 0;
    text-align: center;
  }
  
  /* .food-item-btn.selected {
    border-color: #4CAF50;
    background-color: #e6ffe6;
  } */
  
  .food-item-btn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .food-item-btn-add-dec-btn-container {
    position: relative;
    bottom: 2.5rem;
    display: flex;
    justify-content: center;
  }