.order-table {
    max-width: 1000px;
    margin: 0 auto; 
    border-radius: 8px; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border: 2px solid black; 
}

.react-data-table {
    border-radius: 8px;
}

.dataTable {
    padding: 16px; 
}
