.order-details-popup {
  position: fixed;
  top: 20%;
  right: 0;
  margin-right: 80px;
  width: 300px;
  padding: 20px;
  background: #f9f9f9;
  border-left: 2px solid #ddd;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.order-details-popup h2 {
  margin-top: 0;
}

.popup-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.complete-order-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.delete-order-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.create-order-button {
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

  
