/* Center the chart container in the screen */
.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
  height: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 30px;
}

/* Style for the input container */
.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/* Style for the label */
.input-container label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

/* Style for the input */
.input-container input {
  font-size: 14px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

.input-container input:focus {
  border-color: #c8102e;
}

/* Style for the buttons */
.input-container button {
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #c8102e;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.input-container button:hover {
  background-color: #c8102e;
}

.chart-date {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.chart-date h2 {
  margin: 0;
  padding: 0;
}
